*{
    box-sizing: border-box;
    padding: 0px;

}

body{
    height: 100vh;
}

#first{
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 20px;
}

.user{
    width: 140px;
    align-items: center;
}

img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

h1{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2{
    font-size: 20px;
    
}