*{
    box-sizing: border-box;
    padding: 0px;
    border: 2px;
}

body{
    height: 100vh;
}

#first{
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 20px;
    flex-wrap: wrap;
}

.user{
    width: 140px;
    align-items: center;
    padding: 5px;
    border: 2px white;
    border-radius: 5px;
}

img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

h1{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2{
    font-size: 20px;

}

#inner{
    border: 3px;
    border-color: white;
}

a{
    text-decoration: none;
    color: orange;
}